/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    margin:10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 11px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

button.legend {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    margin:10px;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    width: 100%;
    text-align:center;
    padding: 0 18px;
    background-color: white;
    display: none;
    transition:max-height 0.2s ease-out;
}

div {
    height: 100%;
    float: left;
}

#left {
    float: left;
    width:33%;
    margin: 5px;
}
#center {
    margin: 5px 0;
    width: 33%;
}
#right {
    float: right;
    margin: 5px;
    width: 33%;
}
