@font-face {
    font-family: bellerose;
    src: url(Bellerose.ttf);
}

.roundtangle {
    margin: 10px;
    border-radius: 25px;
    background: #dadada;
    padding: 12px; 
    height: 30px;
}

.roundtangle:hover {
    background: #bababa !important;
}

.container {
    width: 600px;
    text-align: center;
    margin: auto;
    display: inline-block;
}

#outerContainer {
    text-align: center;
    width: 1300px;
    margin: auto;
    margin-top: 200px;
}

#next {
    margin-top: 50px;
}

#question {
    height: 200px; 
    font-size: -webkit-xxx-large;
}

body {
    font-family: bellerose;
    font-size: larger;
}

p {
    vertical-align: middle;
    margin-top: -12px
}
