
/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    font-size: 15px;
    font:Calibri;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    text-align: center;
    border: none;
    outline: none;
    margin:10px;
    vertical-align:middle;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 11px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

button.legend {
    background-color: #eee;
    font-style: italic;
    font-size: 20px;
    font:Calibri;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    margin:10px;
}


/* Style the accordion panel. Note: hidden by default */
div.panel {
    width: 100%;
    display: none;
    transition:max-height 0.2s ease-out;
}

div {
    height: 100%;
    text-align:center;
}


table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 5%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr{background-color: #f2f2f2}

body  {

        /* Full height */
    height: 100%;
    width: 100%;
}


@media only screen and (min-device-width: 800px)
{
	body{
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    	    background-image: url('smash4.png');
	}
	#left {
	    float: left;
	    width:40%;
	    margin: 5%;
	}
	#center {
	    margin: 5px 0;
	    width: 33%;
	}
	#right {
	    float: right;
	    margin: 5%;
	    width: 40%;
	}
}

@media only screen and (max-device-width: 480px)
{
	body{
    	    background-image: url('smash4-mobile.png');
	}
}
